@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); 
/*mobile first 0px-500px*/
*{
    padding: 0;
    margin:0;
}

html{
    font-size: 62.5%;
}

body {
    background-color: aliceblue;

}

/* modificacion navbar bts */
.color {

    background-color: #101d2d;
    padding: 16px;
    
}

.logo {
    
    width: 40px;
    height: 40px;


}


header{
    background-color: #101d2d;
    padding: 0px;
    position: sticky;
    top: 0px;
    grid-area: header;
    display: grid;
}

ul li {
    font-size: 14px;
    padding-right: 14px;
    padding-left: 10px;
   
}
a{
    text-decoration: none;
    color:white ;
    padding: 10px;
}

/* fin modificacion css bts */

/*  mobile first 0 a 500 */

h1{
    color: #363636;
    text-align: center;
    padding: 40px;
    margin: 40px 20px 40px 20px;
    font-size: 3rem;
    
}

h2{
color: #363636;
text-align: left;
margin: 40px;
font-size: 3rem;

}

.h1-sobreMi{
    color:#363636;
    font-size: 3rem;   
}

p{
    text-align: left;
    color: black;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 1.5;
    padding: 40px;
    font-size: medium;
}

.segundoParrafo{
    text-align: end;
    color: rebeccapurple;
    font-size: 20px;   
}

footer{
    padding: 80px;
    background-color: #101d2d;
    margin-top: 150px;
    grid-area: footer;

}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

h3{
    font-size: 3rem;
    margin:40px
}


.linkinterno{
    color: #363636;
}

img{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}


.sobremisec1{
    display: flex;
    flex-direction:row-reverse;
    justify-content: start;
    margin-top: 40px; 
}

.sobremisec2{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    background: color #f4f4f4;

}

.sobremisec3{
    display: flex;
    flex-direction:row-reverse;
    margin-top: 40px;   
}



.comotrabajosec1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 20px;


}

.agendemossec1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
}

.modificar{
    margin-top:10px ;
    width:100px;
    height: 100px;


}

.div1{
    border: 4px;
    border-style: solid;
    border-radius: 20px;
    border-color: cadetblue;
    margin: 10px;
}

.parrafocomotrabajo{
    text-align:left;
    width: fit-content;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.recursossec1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.recursossec2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgrecursos{
     width:300px;
     height: 300px;
     border-radius: 20px;
     margin: 40px;
}

/* declaro las grid areas */

.indexsec1 {
grid-area: indexsec1;
}

.indexsec1 img{
    width: 100%;
}

.indexsec2 {
    
    grid-area: indexsec2;
}

.indexsec30{

    grid-area: indexsec30;
}
.indexsec33{

    grid-area: indexsec33;
}
.indexsec31{

    grid-area: indexsec31;
}

.indexsection4{

    grid-area: indexsection4;
}



.grilla{
    
    background-color: #3a3548;
    margin-bottom: 1.5em;
    gap:20px;
    display: grid;
    grid-template-areas: 
    "header"
    "indexsec1"
    "indexsec2"
    "indexsec30"
    "indexsec31"
    "indexsec33"
    "indexsection4"
    "footer"
;
}

/* media de 500px en adelante */

@media(min-width:500px){
    .grilla{
    
        background-color: #3a3548;
        margin-bottom: 1.5em;
        gap:20px;
        display: grid;
        grid-template-areas: 
        "header"
        "indexsec1"
        "indexsec2"
        "indexsec30"
        "indexsec31"
        "indexsec33"
        "indexsection4"
        "footer"
    ;
    }
    .indexsec31{
        
        background-color: #00ff00;
    }
    .indexsec33{
        
        background-color: #0000ff;
    }
    
    img{
        width: 100%;
    }
}




