@import "fuentes";
@import "generales";

/*Paginahome*/
/*mobile first 0px-500px*/

@mixin size($width, $height){
    width: $width;
    height: $height;
}

%textocentrado {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

%textoizquierda {
    padding: 20px;
    text-align: left;
    font-size: medium;
}

.color {
    background-color: #101d2d;
    padding: 16px;
}

.logo {
    @include size(40px, 40px);
}


header {
    background-color: #101d2d;
    padding: 0px;
    position: sticky;
    top: 0px;
}

ul li {
    font-size: 14px;
    padding-right: 14px;
    padding-left: 10px;

}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}



.imghome {
    width: 100%;
    margin-top: 0%;

}

.imgsec {
    @include size(90%, 90%);
    border-radius: 0px 100px 100px 0px;
}

.imgsec2 {
    @include size(100%,100%);
    border-radius: 100px 0px 0px 100px;
}


.indexsec1 {
    grid-area: indexsec1;
}

.titulo1 {
    grid-area: titulo1;
    @extend %textocentrado
}

.parrafo1 {
    grid-area: parrafo1;
    @extend %textoizquierda
}

.titulo2 {
    grid-area: titulo2;
    @extend %textocentrado
}

.indexsec2 {
    grid-area: indexsec2;
}

.parrafo2 {
    grid-area: parrafo2;
    @extend %textoizquierda
}

.titulo3 {
    grid-area: titulo3;
    @extend %textocentrado
}

.indexsec3 {
    grid-area: indexsec3;
}

.parrafo3 {
    grid-area: parrafo3;
    @extend %textoizquierda
}

.indexsec4 {
    grid-area: indexsec4;
    padding: 20px;
}

.parrafo4 {
    font-size: medium;
}


.header {
    grid-area: header;
}

/*Paginahome*/
/* 0px en adelante */
.envoltura {
    background-color: #e6d5e3;
    margin-bottom: 1.5em;
    gap: 20px;
    display: grid;
    grid-template-areas:
        "header"
        "indexsec1"
        "titulo1"
        "parrafo1"
        "titulo2"
        "indexsec2"
        "parrafo2"
        "titulo3"
        "indexsec3"
        "parrafo3"
        "indexsec4"
        "footer";
}

/*Paginahome*/
/* 500 px en ADELANTE */
@media(min-width:500px) {
    .envoltura {
        background-color: #e6d5e3;
        margin: 0;
        display: grid;
        grid-template-areas:
            "header       header"
            "indexsec1    indexsec1"
            "titulo1      titulo1"
            "parrafo1     parrafo1"
            "titulo2      titulo2"
            "indexsec2    parrafo2"
            "titulo3      titulo3"
            "parrafo3     indexsec3"
            "indexsec4    indexsec4"
            "footer       footer";

        grid-template-columns: 2fr 2fr;
    }

    .imghome {
        width: 100%
    }

    .imgsec {
        height: 90%px;
        border-radius: 0px 100px 100px 0px;
        ;
    }

    .imgsec2 {
        width: 100%;
        height: 90%;
        border-radius: 100px 0px 0px 100px;
    }
}

/*Paginahome*/
/* 768 px en ADELANTE */
@media(min-width:768px) {
    .envoltura {
        background-color: #e6d5e3;
        margin: 0;
        display: grid;
        grid-template-areas:
            "header      header       header"
            "indexsec1   indexsec1    indexsec1"
            "titulo1     titulo1      titulo1"
            "parrafo1    parrafo1     parrafo1"
            "titulo2     titulo2      titulo2"
            "indexsec2   parrafo2     parrafo2"
            "titulo3     titulo3      titulo3"
            "parrafo3    indexsec3    indexsec3"
            "indexsec4   indexsec4    indexsec4"
            "footer      footer       footer";

        grid-template-columns: 2fr 1fr 1fr;
    }

    .imghome {
        width: 100%;
    }

    .imgsec {
        width: 90%;
        height: 90%px;
        border-radius: 0px 100px 100px 0px;
    }
}

/* fin de grilla para pagina de home */

/* Inicio de grilla Pagina sobre mi */

.titulo1Sobremi {
    grid-area: titulo1Sobremi;
    text-align: center;
    padding: 40px;
}

.sobreMisec1 {
    grid-area: sobreMisec1;
}

.parrafo1Sobremi {

    grid-area: parrafo1Sobremi;
    font-size: medium;
    padding: 30px;
}

.titulo2Sobremi {
        grid-area: titulo2Sobremi;
        text-align: center;
        padding-bottom: 40px;
    

    
}

.sobreMisec2 {

    grid-area: sobreMisec2;
}

.parrafo2Sobremi {

    grid-area: parrafo2Sobremi;
    font-size: medium;
    padding: 30px;
}

.titulo3Sobremi {

    grid-area: titulo3Sobremi;
    padding: 40px;
    text-align: center;
}

.sobreMisec3 {

    grid-area: sobreMisec3;
}

.parrafo3Sobremi {
    grid-area: parrafo3Sobremi;
    font-size: medium;
    padding: 30px;
}

.imgSecSb {
    width: 90%;
    height: 90%;
    border-radius: 0px 200px 200px 0px;
    flex-direction: column-reverse;
}

.imgSecSb2 {
    width: 100%;
    height: 90%;
    border-radius: 200px 0px 0px 200px;
}
/* grilla sobre mi 0px en adelante /* /*Paginasobremi*/

.envolturasobremi{
    background-color: #e6d5e8;
    margin-bottom: 1.5em;
    gap:20px;
    display: grid;
    grid-template-areas:
    "header"
    "titulo1Sobremi"
    "sobreMisec1"
    "parrafo1Sobremi"
    "titulo2Sobremi"
    "sobreMisec2"
    "parrafo2Sobremi"
    "titulo3Sobremi"
    "sobreMisec3"
    "parrafo3Sobremi"
    "footer" ;
}

/*Paginasobremi*/
/* 500 px en ADELANTE */
@media(min-width:500px){
    .envolturasobremi{
        margin:0;
        display: grid;
        grid-template-areas:
        "header         header"
        "titulo1Sobremi  titulo1Sobremi"
        "sobreMisec1     parrafo1Sobremi"
        "titulo2Sobremi  titulo2Sobremi"
        "parrafo2Sobremi sobreMisec2"
        "titulo3Sobremi  titulo3Sobremi"
        "sobreMisec3     parrafo3Sobremi"
        "footer footer" ;
        grid-template-columns: 2fr 2fr;
    }
}

/*Paginasobremi*/
/* 768 px en ADELANTE */
@media(min-width:768px){
    .envolturasobremi{
        margin:0;
        display: grid;
        grid-template-areas:
        "header           header          header"
        "titulo1Sobremi   titulo1Sobremi  titulo1Sobremi"
        "sobreMisec1      sobreMisec1     parrafo1Sobremi"
        "titulo2Sobremi   titulo2Sobremi  titulo2Sobremi"
        "parrafo2Sobremi  sobreMisec2     sobreMisec2"
        "titulo3Sobremi   titulo3Sobremi  titulo3Sobremi"
        "sobreMisec3      sobreMisec3     parrafo3Sobremi"
        "footer           footer          footer" ;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .imgSecSb{

        width:80%;
        height:80%;
    }

    .imgSecSb2 {
        width: 100%;
        height: 80%;
        border-radius: 200px 0px 0px 200px;
    }
}      
 /* Fin grilla pagina sobre mi */

/* pagina usa grid system de bootstrap solo modifique lo necesario*/

.card{
    position: static;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
}

/* pagina recomendaciones */
/* pagina usa grid system de bootstrap solo modifique lo necesario*/

.tituloMisRecomendaciones{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subtituloMisRecomendaciones{
    padding: 40px;
}

.libros {
    width: 295px;
    height: 500px;
    padding: 10px;

}

.podcast{
    width: 300px;
    height: 300px;
    padding: 10px;
}

.acercar{
    overflow: visible;

}

.acercar img {
    transition: all 1.5s;
}

.acercar:hover img{
    transform: scale(20px);
}

/* Pagina de agendemos */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}
